@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-background: #111212;
	--color-text: #f0f0f0;
	--color-primary: #8f8f8e;
	--color-secondary: #8f8f8e;
}

body,
html {
	overflow: hidden;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}

	p {
		@apply font-antonio;
	}
}
