@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-background: #111212;
	--color-text: #f0f0f0;
	--color-primary: #8f8f8e;
	--color-secondary: #8f8f8e;
}

body {
	overflow: hidden;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}

	p {
		@apply font-antonio;
	}
}

.scene-react-three {
	position: relative;
	width: 100vh;
	height: 100vw;
}
